export TERM="xterm"
export TERMINAL="termite"

# layout to us, dvorak, ru and make capslock be ctrl instead (two ctrl buttons)
setxkbmap -model hhkb -layout us,us,ru ,dvorak, -option ctrl:nocaps
#setxkbmap -option caps:escape
